.footer {
  position: fixed;
  bottom: 0;
  border-color: gray;
  height: 200px;
  width: 100%;
  text-align: center;
}
.footer_info {
  display: inline-block;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  padding: 20px 0 16px;
}
footer_info > a {
  font-size: 11px;
}
