.intro_cont_7 {
  height: 930px;
  position: relative;
  background-color: skyblue;
}

.intro_cont_7_img > img {
  position: absolute;
  width: 429px;
  height: 563px;
  bottom: 0;
  left: 50%;
  margin-left: -215px;
}

.intro_cont_7_txt {
  text-align: center;
}

.intro_cont_7_txt > h3 {
  color: white;
  font-size: 40px;
  line-height: 1.35;
  font-weight: bold;
}

.intro_cont_7_txt > p {
}
