.intro_cont_8 {
  height: 1062px;
  background-color: #333b58;
  position: relative;
  color: black;
}

.intro_cont_8_txt {
  margin-top: 200px;
  text-align: center;
}

.intro_cont_8_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

.intro_cont_8_txt > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
  margin-top: 20px;
}

.intro_cont_8_btn {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  margin-left: -138px;
}

.intro_cont_8_btn > a {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
}
.intro_cont_8_btn > a:hover {
  text-decoration: underline;
}
.intro_cont_8_btn > a > img {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

.intro_cont_8_img {
  position: absolute;
  width: 660px;
  height: 475px;
  top: 469px;
  left: 50%;
  margin-left: -330px;
}
.checkcard-box {
  min-width: 1080px;
}

.con {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  width: 100%;
  display: block;
}
.slider-box-1 {
  border: 1px solid red;
}

.checkcard-box .slider-box-1 {
  width: 720px;
  margin-left: auto;
  margin-right: auro;
}
