.carousel {
  position: relative;
  top: 100px;
  // width: 720px;
  // height: 500px;
  // overflow: hidden;
  left: 13.5%;
}

.item {
  margin-top: 50px;
}

.img-box {
  width: 240px;
  display: block;
}

.slick-center {
  transform: scale(1.3);
}
