head {
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav-golobal {
  font-family: "GmarketSansMedium";
}

.nav-content {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 30000;
  background-color: white;
}

.nav-items {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 80px;
  width: 1200px;
}

.nav-logo,
.nav-item {
  display: flex;
  align-items: center;
  margin-right: 300px;
  white-space: nowrap;
  letter-spacing: -1px;
}

.nav-item {
  margin: 0 10px;
  padding: 0 10px;
}
.nav-item:first-child {
  margin-left: 100px;
}

.nav-item:hover {
  text-decoration: underline;
  border-bottom: 2px solid black;
}
.nav-item:last-child {
  text-decoration: none;
}

.nav-item:last-child > a {
  padding: 10px 20px;
  background-color: #fede22;
  border: 1px solid #fede22;
  border-radius: 22px;
}
.nav-title {
  font-family: "GmarketSansMedium";
}

.intro_main {
  width: 100%;
  height: 884px;
  margin: 0;
  background-color: #fff;
  position: relative;
}

.intro_main_content {
  max-width: 1200px;
  height: 884px;
  margin: auto;
  background-image: url("https://www.kakaobank.com/static/images/web/renewal/main-bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.intro_main .background-line {
  width: 100%;
  height: 720px;
  background-color: #ffef6b;
  position: absolute;
  top: 0;
}

.nav-item:hover > .nav-subs {
  display: block;
}

.nav-sub {
  display: table;
  width: 1080px;
  margin: auto;
}

.nav-subs {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(1px);
  background-color: white;
  top: 80px;
  z-index: 2;
  padding: 60px 0 36px;
}

.nav-sub-title {
  display: inline-block;
  font-size: 17px;
  margin-bottom: 20px;
}

.nav-sub-item {
  display: table-cell;
  text-align: center;
  width: 16%;
}

.nav-links {
  font-size: 13px;
}
.nav-link {
  padding-bottom: 20px;
}

.intro_main .tit_main {
  position: absolute;
  top: 200px;
  left: 90px;
  font-weight: bold;
  font-size: 49px;
  line-height: 1.4;
  color: black;
}

.intro_main .tit_sub {
  position: absolute;
  top: 355px;
  left: 92px;
  font-size: 16px;
  line-height: 1.95;
  color: black;
  opacity: 0.7;
}

.intro_main .tit_sub2 {
  position: absolute;
  top: 430px;
  left: 92px;
  font-size: 16px;
  line-height: 1.95;
  color: black;
  opacity: 0.7;
}

.intro_main .list_store {
  overflow: hidden;
  position: absolute;
  top: 510px;
  margin-left: 85px;
}

.link_stores {
  float: left;
  height: 60px;
  padding: 0 6px;
}

.intro_main .link_store {
  display: block;
  width: 178px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  font-size: 16.2px;
  font-weight: bold;
  line-height: 56px;
  color: #333;
  background: #fff;
  text-align: center;
}
.intro_main .list_store .img_kabang {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  background-position: -341px -292px;
  text-indent: 0;
  vertical-align: middle;
}
.img_kabang {
  display: block;
  overflow: hidden;
  background-image: url("https://www.kakaobank.com/static/images/web/img_kabang_220615.png");
}

.intro_main .list_store .ico_app {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  background-position: -371px -292px;
}

.intro_cont.cont_withdrawal {
  height: 750px;
  position: relative;
}

.intro_cont {
  display: flex;
  justify-content: center;
}

.cont_img_img {
  width: 473px;
  margin-right: 500px;
}

.cont_txt {
  top: -20px;
  position: absolute;
  left: 50%;
  margin-left: 100px;
}

.cont_txt_h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
  margin-top: 200px;
}

.cont_txt_p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 25px;
}
.cont_btn {
  top: 400px;
  position: absolute;
  left: 50%;
  margin-left: 100px;
}

.link_bank {
  display: block;
  width: 258px;
  height: 56px;
  background-color: #f6f6f6;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  border-radius: 10px;
}
.link_bank:hover {
  text-decoration: underline;
}

.ico_arr {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin-left: 5px;
  margin-bottom: 4.5px;
}
.intro_cont_divider {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

.intro_cont {
  height: 750px;
  background-color: white;
  position: relative;
}

.intro_cont_txt {
  position: absolute;
  top: 172px;
  left: 50%;
  margin-left: -470px;
}
.intro_cont_txt_h3 {
  font-size: 40px;
  font-weight: bold;
}
.intro_cont_btn {
  position: absolute;
  top: 385px;
  left: 50%;
  margin-left: -470px;
  display: flex;
}

.intro_cont_btn > .link_deposit {
  display: block;
  width: 158px;
  height: 56px;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 15px;
  line-height: 56px;
  border-radius: 10px;
  margin-right: 10px;
}

.intro_cont_btn > .link_deposit:hover {
  text-decoration: underline;
}

.intro_cont_btn > .link_deposit > .link_deposit_img {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

.intro_cont_img {
  position: absolute;
  top: 500px;
  left: 50%;
  margin-left: -470px;
}
.intro_cont_img_img {
  width: 440px;
}

.intro_cont_img2 {
  position: absolute;
  width: 409px;
  height: 722px;
  margin-left: 800px;
}

// 나눌영역
.intro_cont_4 {
  height: 750px;
  position: relative;
}

.intro_cont_4_img > img {
  position: absolute;
  top: 85px;
  right: 50%;
  width: 459px;
  height: 607px;
  margin-right: 24px;
}
.intro_cont_4_txt {
  position: absolute;
  top: 215px;
  left: 50%;
  margin-left: 90px;
}

.intro_cont_4_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

.intro_cont_4_txt > p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}
.intro_cont_4_btn {
  position: absolute;
  top: 455px;
  left: 50%;
  margin-left: 90px;
}

.intro_cont_4_btn > a {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
}
.intro_cont_4_btn > a:hover {
  text-decoration: underline;
}

.intro_cont_4_btn > a > img {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

//나눌영역

.intro_cont_5 {
  height: 650px;
  position: relative;
  background-color: white;
}

.intro_cont_5_txt {
  position: absolute;
  top: 177px;
  left: 50%;
  margin-left: -410px;
}

.intro_cont_5_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

.intro_cont_5_txt > p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

.intro_cont_5_btn {
  position: absolute;
  top: 395px;
  left: 50%;
  margin-left: -410px;
  border-color: #c2c2c2;
}

.intro_cont_5_btn > a {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
}
.intro_cont_5_btn > a:hover {
  text-decoration: underline;
}

.intro_cont_5_btn > a > img {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

.intro_cont_5_img {
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: 40px;
  width: 492px;
  height: 408px;
}

// 나눌영역
.intro_cont_6 {
  height: 750px;
  background-color: white;
  position: relative;
  background-image: url("https://www.kakaobank.com/static/images/web/home_map.png");
  background-position-x: -12%;
  background-position-y: 50%;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
}

.intro_cont_6_img > img {
  position: absolute;
  top: 20px;
  right: 55%;
  width: 408px;
  height: 715px;
  margin: 0 -40px 0 -155px;
}

.intro_cont_6_txt {
  position: absolute;
  top: 196px;
  left: 50%;
  margin-left: 90px;
}

.intro_cont_6_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

.intro_cont_6_txt > p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

.intro_cont_6_btn {
  position: absolute;
  top: 492px;
  left: 50%;
  margin-left: 90px;
}

.intro_cont_6_btn > a {
  display: block;
  width: 258px;
  height: 56px;
  background-color: #f6f6f6;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
}
.intro_cont_6_btn > a:hover {
  text-decoration: underline;
}

.intro_cont_6_btn > a > img {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}
.intro_cont_7 {
  height: 930px;
  position: relative;
  background-color: skyblue;
}

.intro_cont_7_img > img {
  position: absolute;
  width: 429px;
  height: 563px;
  bottom: 0;
  left: 50%;
  margin-left: -215px;
}

.intro_cont_7_txt {
  text-align: center;
}

.intro_cont_7_txt > h3 {
  color: white;
  font-size: 40px;
  line-height: 1.35;
  font-weight: bold;
}

.intro_cont_7_txt > p {
}
