.nav-content {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-items {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 1200px;
}

.nav-logo,
.nav-item {
  display: flex;
  align-items: center;
  margin-right: 300px;
  white-space: nowrap;
}

.nav-item {
  margin: 0 10px;
  padding: 0 10px;
}

.nav-item:hover {
  text-decoration: underline;
}
.nav-item:last-child {
  text-decoration: none;
}

.nav-item:last-child > a {
  padding: 10px 20px;
  background-color: #fede22;
  border: 1px solid #fede22;
  border-radius: 22px;
}
